# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Dotenv file
.env

# Dependencies
lib/
node_modules/
.gitmodules

# IDE
.idea/
.vscode/

# Coverage
lcov.info

# OS
.DS_Store

# Claude Code
.claude/

# Hardhat
typechain-types/
cache_hardhat/
artifacts/
